/**
 * Wide ===============================================================
 */
body.layout-wide #content {
  float:none;
  width:auto;
  }

body.layout-wide #page .limiter {
  padding:0px 10px;
  background:transparent;
  }

body.layout-wide #content .page-region { padding:20px 10px; }

/**
 * Login ==============================================================
 */
body.layout-login #page-header .limiter { width:640px; }

body.layout-login #page .limiter {
  width:660px;
  background:transparent;
  }

body.layout-login #content {
  float:none;
  width:auto;
  }

body.layout-login #content .page-region { padding:20px 10px; }

/**
 * Split ==============================================================
 */
body.layout-split #content,
body.layout-split #right {
  float:left;
  width:49.99%;
  }

body.layout-split #page .limiter {
  padding:0px 10px;
  background-position:50% 0%;
  }

body.layout-split #content .page-region,
body.layout-split #right .page-region { padding:20px 10px; }

/**
 * Columns ============================================================
 */
body.layout-columns #left,
body.layout-columns #content,
body.layout-columns #right {
  float:left;
  width:33.33%;
  }

body.layout-columns #page .limiter {
  padding:0px 10px;
  background:transparent;
  }

body.layout-columns #left .page-region,
body.layout-columns #content .page-region,
body.layout-columns #right .page-region { padding:20px 10px; }
/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;

}

.row {
width: 100%;
max-width: 1000px;
min-width: 755px;
margin: 0 auto;
overflow:hidden;
position:relative;
}
#body-wrap .container .row {
width: 100%;
max-width: 1000px;
min-width: 755px;
margin: 0 auto;
overflow:visible;
position:relative;
}


.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 1%;
float: left;
min-height: 1px;
}
.header {
position:relative;

}
.footer {
}
.footer p {
	text-shadow: 0em 0em 0.25em white;
}
.footer img {
	float: right;
}

.row .onecol {
width: 7.36%;
}

.row .twocol {
width: 15.8%;
}

.row .threecol {
width: 24.15%;
}

.row .fourcol {
width: 32.65%;
}

.row .fivecol {
width: 41.2%;
}

.row .sixcol {
width: 49.35%;
}

.row .sevencol {
width: 57.7%;
}

.row .eightcol {
width: 66.35%;
}

.row .ninecol {
width: 74.75%;
}

.row .tencol {
width: 83.2%;
}

.row .elevencol {
width: 91.6%;
}

.row .twelvecol {
width: 100%;
float: left;
}

.last {
margin-right: 0px;
}

.container img, .container object, .container embed {
max-width: 100%;
}

.container img {
	height: auto;
}

#user-login{
	width: 100%;
	margin: 2.3em 0;
	padding: 0;
}




/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}
